/*======================= Choices Custom ===============================================*/

.choice {
  position: relative;
  font-size: 1.0rem;
}

.choice:focus {
  outline: none;
}

.choice:last-child {
  margin-bottom: 0;
}

.choice.is-disabled .choice__inner,.choice.is-disabled .choice__input {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.choice.is-disabled .choice__item {
  cursor: not-allowed;
}

.choice[data-type*=select-one] {
  cursor: pointer;
}

.choice[data-type*=select-one] .choice__inner {
  padding-bottom: 7.5px;
}

.choice[data-type*=select-one] .choice__input {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 0;
}

.choice[data-type*=select-one] .choice__button {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  padding: 0;
  background-size: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  margin-right: 25px;
  height: 20px;
  width: 20px;
  border-radius: 1em;
  opacity: .5;
}

.choice[data-type*=select-one] .choice__button:focus,.choice[data-type*=select-one] .choice__button:hover {
  opacity: 1;
}

.choice[data-type*=select-one] .choice__button:focus {
  box-shadow: 0 0 0 2px #00bcd4;
}

.choice[data-type*=select-one]:after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  border-width: 5px;
  position: absolute;
  right: 11.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
}

.choice[data-type*=select-one].is-open:after {
  border-color: transparent transparent #333 transparent;
  margin-top: -7.5px;
}

.choice[data-type*=select-one][dir=rtl]:after {
  left: 11.5px;
  right: auto;
}

.choice[data-type*=select-one][dir=rtl] .choice__button {
  right: auto;
  left: 0;
  margin-left: 25px;
  margin-right: 0;
}

.choice[data-type*=select-multiple] .choice__inner,.choice[data-type*=text] .choice__inner {
  cursor: text;
}

.choice[data-type*=select-multiple] .choice__button,.choice[data-type*=text] .choice__button {
  position: relative;
  display: inline-block;
  margin: 0 -4px 0 8px;
  padding-left: 16px;
  border-left: 1px solid #008fa1;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
  background-size: 8px;
  width: 8px;
  line-height: 1;
  opacity: .75;
  border-radius: 0;
}

.choice[data-type*=select-multiple] .choice__button:focus,.choice[data-type*=select-multiple] .choice__button:hover,.choice[data-type*=text] .choice__button:focus,.choice[data-type*=text] .choice__button:hover {
  opacity: 1;
}

.choice__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 7.5px 7.5px 3.75px;
  border-radius: 2.5px;
  font-size: 14px;
  overflow: hidden;
}

.is-open .choice__inner {
  border-radius: 2.5px 2.5px 0 0;
}

.is-flipped.is-open .choice__inner {
  border-radius: 0 0 2.5px 2.5px;
}

.choice__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choice__list--single {
  display: inline-block;
  padding: 4px 16px 4px 4px;
  width: 100%;
}

[dir=rtl] .choice__list--single {
  padding-right: 4px;
  padding-left: 16px;
}

.choice__list--single .choice__item {
  width: 100%;
}

.choice__list--multiple {
  display: inline;
}

.choice__list--multiple .choice__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #00bcd4;
  border: 1px solid #00a5bb;
  color: #fff;
  word-break: break-all;
}

.choice__list--multiple .choice__item[data-deletable] {
  padding-right: 5px;
}

[dir=rtl] .choice__list--multiple .choice__item {
  margin-right: 0;
  margin-left: 3.75px;
}

.choice__list--multiple .choice__item.is-highlighted {
  background-color: #00a5bb;
  border: 1px solid #008fa1;
}

.is-disabled .choice__list--multiple .choice__item {
  background-color: #aaa;
  border: 1px solid #919191;
}

.choice__list--dropdown {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  top: 100%;
  margin-top: -1px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  overflow: hidden;
  word-break: break-all;
}

.choice__list--dropdown.is-active {
  display: block;
}

.is-open .choice__list--dropdown {
  border-color: #b7b7b7;
}

.is-flipped .choice__list--dropdown {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: -1px;
  border-radius: .25rem .25rem 0 0;
}

.choice__list--dropdown .choice__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.choice__list--dropdown .choice__item {
  position: relative;
  padding: 10px;
  font-size: 14px;
}

[dir=rtl] .choice__list--dropdown .choice__item {
  text-align: right;
}

@media (min-width: 640px) {
  .choice__list--dropdown .choice__item--selectable {
    padding-right:100px;
  }

  .choice__list--dropdown .choice__item--selectable:after {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  [dir=rtl] .choice__list--dropdown .choice__item--selectable {
    text-align: right;
    padding-left: 100px;
    padding-right: 10px;
  }

  [dir=rtl] .choice__list--dropdown .choice__item--selectable:after {
    right: auto;
    left: 10px;
  }
}

.choice__list--dropdown .choice__item--selectable.is-highlighted {
  background-color: #f2f2f2
}

.choice__list--dropdown .choice__item--selectable.is-highlighted:after {
  opacity: .5
}

.choice__item {
  cursor: default
}

.choice__item--selectable {
  cursor: pointer
}

.choice__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: .5
}

.choice__heading {
  font-weight: 600;
  font-size: 12px;
  padding: 10px;
  border-bottom: 1px solid #f7f7f7;
  color: gray
}

.choice__button {
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer
}

.choice__button:focus {
  outline: none
}

.choice__input {
  display: inline-block;
  vertical-align: baseline;
  background-color: #f9f9f9;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px
}

.choice__input:focus {
  outline: 0
}

[dir=rtl] .choice__input {
  padding-right: 2px;
  padding-left: 0
}

.choice__placeholder {
  opacity: .5
}

.choice[data-type*=select-multiple] .choice__input.is-hidden,.choice[data-type*=select-one] .choice__input.is-hidden,.choice__input.is-hidden {
  display: none
}
